rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection rules
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    // Groups collection rules
    match /groups/{groupId} {
      allow read, create: if request.auth != null;
      allow write: if resource.data.owner == request.auth.uid;
    }

    // Notes collection rules
    match /notes/{noteId} {
      allow read: if resource.data.spectator.hasAny(request.auth.id);
      allow write, read: if resource.data.owner == request.auth.uid || resource.data.collaborator.hasAny(request.auth.id);
      allow create: if request.auth != null;
    }

    // To-Dos collection rules
    match /to-dos/{todoId} {
      allow read: if resource.data.spectator.hasAny(request.auth.id);
      allow write, read: if resource.data.owner == request.auth.uid || resource.data.collaborator.hasAny(request.auth.id);
      allow create: if request.auth != null;
    }

    // Reminders collection rules
    match /reminders/{reminderId} {
      allow read: if resource.data.spectator.hasAny(request.auth.id);
      allow write, read: if resource.data.owner == request.auth.uid || resource.data.collaborator.hasAny(request.auth.id);
      allow create: if request.auth != null;
    }

    // Money Log collection rules
    match /money-logs/{moneyLogId} {
      allow read: if resource.data.spectator.hasAny(request.auth.id);
      allow write, read: if resource.data.owner == request.auth.uid || resource.data.collaborator.hasAny(request.auth.id);
      allow create: if request.auth != null;
    }
  }
}
